<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Test</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
    <link type="text/css" href="{{ url_for('static', filename='css/test-making.css') }}" rel="stylesheet">
</head>
<body>

    {% include 'includes/left_side_bar.html' %}

    <!-- Main Content -->
    <div class="content">
        <h1>Create a New Test</h1>
        {% with alerts = get_flashed_messages(with_categories=true) %}
            {% if alerts %}
                {% for category, message in alerts %}
                <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="container mt-5">
            <form method="POST" action="">
                {{ test_form.hidden_tag() }}
                <div class="form-group">
                    {{ test_form.title.label(class="form-label") }}
                    {{ test_form.title(class="form-control") }}
                    {% if test_form.title.errors %}
                        <div class="text-danger">
                            {% for error in test_form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ test_form.duration.label(class="form-label") }}
                    {{ test_form.duration(class="form-control") }}
                    {% if test_form.duration.errors %}
                        <div class="text-danger">
                            {% for error in test_form.duration.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <!-- Test Description -->
                <div class="form-group">
                    {{ test_form.description.label(class="form-label") }}
                    {{ test_form.description(class="form-control") }}
                    {% if test_form.description.errors %}
                        <div class="text-danger">
                            {% for error in test_form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <!-- Test Instructions -->
                <div class="form-group">
                    {{ test_form.instructions.label(class="form-label") }}
                    {{ test_form.instructions(class="form-control") }}
                    {% if test_form.instructions.errors %}
                        <div class="text-danger">
                            {% for error in test_form.instructions.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <!-- Test Type -->
                <div class="form-group">
                    {{ test_form.ctype.label(class="form-label") }}
                    <select id="test-type" name="{{ test_form.ctype.name }}" class="form-control" onchange="toggleOtherTypeInput()">
                        {% for value, label in test_form.ctype.choices %}
                            <option value="{{ value }}" {% if value == '' %}disabled selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                    {% if test_form.ctype.errors %}
                        <div class="text-danger">
                            {% for error in test_form.ctype.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}     
                </div>
                <!-- other_type -->
                <div class="form-group" id="other-type-group" style="display: none;">
                    <b>{{ test_form.other_type.label(class="form-label") }}</b>
                    {{ test_form.other_type(class="form-control", id="other-type") }}
                    {% if test_form.other_type.errors %}
                        <div class="text-danger">
                            {% for error in test_form.other_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!-- Category Field -->
                <div class="form-group">
                    <label for="categories" class="form-label">Categories</label>
                    <select id="categories" name="categories" class="form-control" multiple="multiple">
                        <option value="category1">A1 Prep</option>
                        <option value="category2">A2 Prep</option>
                    </select>
                </div>

                <!-- Total Marks -->
                <div class="form-group">
                    {{ test_form.total_marks.label(class="form-label") }}
                    {{ test_form.total_marks(class="form-control") }}
                    {% if test_form.total_marks.errors %}
                        <div class="text-danger">
                            {% for error in test_form.total_marks.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <!-- Expiry Date -->
                <div class="form-group">
                    {{ test_form.expiry_date.label(class="form-label") }}
                    {{ test_form.expiry_date(class="form-control", id="expiry-date") }}
                    {% if test_form.expiry_date.errors %}
                        <div class="text-danger">
                            {% for error in test_form.expiry_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!-- Multiple Sections Field -->
                <div class="form-group form-check">
                    {{ test_form.multiple_sections(class="form-check-input", id="multiple_sections") }}
                    {{ test_form.multiple_sections.label(class="form-check-label", for="multiple_sections") }}
                    {% if test_form.multiple_sections.errors %}
                        <div class="text-danger">
                            {% for error in test_form.multiple_sections.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!-- One Section Per Page Field -->
                <div class="form-group form-check">
                    {{ test_form.one_section_per_page(class="form-check-input", id="one_section_per_page") }}
                    {{ test_form.one_section_per_page.label(class="form-check-label", for="one_section_per_page") }}
                    {% if test_form.one_section_per_page.errors %}
                        <div class="text-danger">
                            {% for error in test_form.one_section_per_page.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!-- Correction Type Field -->
                <div class="form-group">
                    {{ test_form.correction_type.label(class="form-label") }}
                    {{ test_form.correction_type(class="form-control") }}
                    {% if test_form.correction_type.errors %}
                        <div class="text-danger">
                            {% for error in test_form.correction_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                

                <button type="submit" class="btn">Create Test</button>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='js/test-making.js') }}" defer></script>
</body>
</html>